<ion-header>
  <ion-toolbar>
  <ion-title>

    <img src="assets/images/logo.png" class="title-logo" menuToggle (click)="testLogin()">

  </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="openMapPage()" class="topIconBtn">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMessagesPage()" class="topIconBtn">
        <ion-icon name="chatboxes"></ion-icon>
        <span>{{newMessageNum}}</span>
      </button>
    </ion-buttons>
    <!-- <ion-buttons end>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-menu [content]="mainContent"  side="left">
  <ion-header>
    <ion-toolbar>
      <ion-title>设置</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <div class="userhead" *ngIf="userInfo.attributes.username" (click)="openUserDetailEditPage();" menuClose >
      <div class="usertypeicon" *ngIf="userDetailPlus.attributes.userType==1">
        <span>认证用户</span>
        <img src="assets/icon/usertype1.gif" >
      </div>
      <div class="usertypeicon" *ngIf="userDetailPlus.attributes.userType==2">
        <span>联络官</span>
        <img src="assets/icon/usertype2.gif" >
      </div>
      <div class="usertypeicon" *ngIf="userDetailPlus.attributes.userType==50">
        <span>认证商户</span>
        <img src="assets/icon/usertype4.gif" >
      </div>
      <div class="usertypeicon" *ngIf="userDetailPlus.attributes.userType==100">
        <span>管理员</span>
        <img src="assets/icon/usertype3.gif" >
      </div>

      <div class="userInfoHead">
        <img  src="assets/images/questionImage.png" *ngIf="!userDetailPlus.attributes.headimg">
        <img  [(src)]="userDetailPlus.attributes.headimg"
        *ngIf="userDetailPlus.attributes.headimg">
      </div>
      <div class="text-center">
        <h2>{{userInfo.attributes.username}}</h2>
      </div>
    </div>

    <div class="userhead" *ngIf="!userInfo.attributes.username" menuClose (click)="openLoginPage()">

      <div class="userInfoHead">
        <img  src="assets/images/questionImage.png" >

      </div>
      <div class="text-center">
        <h2>未登录用户</h2>
      </div>
    </div>


    <ion-list>


      <button menuClose ion-item >
        账户安全
      </button>
      <button menuClose ion-item >
        收藏
      </button>
      <button menuClose ion-item >
        设置
      </button>
      <button menuClose ion-item (click)="logOut()">
        切换账号
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content #mainContent>

  <div class="maskTabs"  *ngIf="admAction && !admActionClosed"></div>
  <div class="admActionBox" *ngIf="admAction && !admActionClosed">

    <div class="admActionBoxCon">
      <div class="closeBtn">
        <ion-icon name="close" (click)="this.admActionClosed=true;"></ion-icon>
      </div>
      <div class="admActionBox-card-title">{{admAction.attributes.title}}</div>
      <ion-list>
        <ion-card class="action-card action_lable_outbox" (click)="openActionDetailPage(admAction)">
          <div class="action_status_text beginAction" *ngIf="admAction.attributes.actionStatus==2">进行中..</div>
          <div class="action_status_text complateAction" *ngIf="admAction.attributes.actionStatus==3">已完成</div>

          <img *ngIf="admAction.attributes.userType>=50 && admAction.attributes.userType<100" class="action_lable" src="assets/icon/actionlable_1.png">
      <img *ngIf="admAction.attributes.userType>=100" class="action_lable" src="assets/icon/actionlable_2.png">


          <img src="assets/images/questionImage.png" *ngIf="admAction.attributes.image=='assets/images/addImage.png'" />
          <img [(src)]="admAction.attributes.image" *ngIf="admAction.attributes.image!=='assets/images/addImage.png'"/>


        </ion-card>
      </ion-list>
    </div>
  </div>

	<!-- <ion-fab mini bottom center edge class="bottom0">
      <button ion-fab  mini><ion-icon name="create"></ion-icon></button>
      <ion-fab-list side="top">
        <button color="primary" ion-fab class="publish-board" (click)="openTeamPublishPage()"><ion-icon name="contacts"></ion-icon></button>
      </ion-fab-list>
    <ion-fab-list side="left">
      <button color="secondary" ion-fab class="publish-action" (click)="openActionPublishPage()"><ion-icon name="walk"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="right">
      <button ion-fab color="danger" class="publish-board" (click)="openBoardPublishPage()"><ion-icon name="easel"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> -->
  <ion-tabs #mainTabs class="richy-tabs">
    <ion-tab [root]="tab1Root" tabTitle="行动" tabIcon="walk"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="搜索" tabIcon="search"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="喜欢" tabIcon="heart"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="我" tabIcon="man"></ion-tab>
	</ion-tabs>
  <ion-fab mini bottom center edge class="bottom0">
      <button ion-fab mini (click)="showfootmenubox=!showfootmenubox;">
        <ion-icon *ngIf="!showfootmenubox" name="add"></ion-icon>
        <ion-icon *ngIf="showfootmenubox" name="close"></ion-icon>
      </button>
  </ion-fab>
  <div class="footmenubox" [ngClass]="{'footmenubox-show':showfootmenubox}">
    <ion-grid style="text-align: center; padding-top: 40px;">
      <ion-row>
        <ion-col col-4>
          <button ion-fab  style="margin: auto;" color="danger" class="publish-board" (click)="openBoardPublishPage()"><ion-icon name="easel"></ion-icon></button>
        </ion-col>

        <ion-col col-4>
          <button color="secondary" style="margin: auto;" ion-fab class="publish-action" (click)="openActionPublishPage()"><ion-icon name="walk"></ion-icon></button>
        </ion-col>

        <ion-col col-4>
          <button color="primary" style="margin: auto;" ion-fab mi class="publish-board" (click)="openTeamPublishPage()"><ion-icon name="contacts"></ion-icon></button>
        </ion-col>
      </ion-row>

    </ion-grid>



  </div>

</ion-content>

